<%- include headerAdmin.ejs %>
<div id="wrapper" class="body-bg-black">


    <div id="page-wrapper" class="gray-bg">
        <%- include innerHeader.ejs %>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-md-6">

                    <div id="allOrders" class="pre-scrollable maxh-500">
                    <div class="row" ng-repeat="customer in customerList.allCustomerList">
                        <div class="col-md-12">
                            <div class="contact-box" ng-click="customerList.openCustomerOrderHistory(customer)"
                                 ng-class="{'active-border':customerList.clicked==customer.name,'no-border':customerList.clicked!=customer.name}">
                            <a>
                                    <div class="col-sm-2 col-md-2">
                                        <div class="text-center">
                                            <img ng-src="/uploads/{{provider.photo}}.jpg" class=" m-t-xs img-rounded">
                                        </div>
                                    </div>
                                    <div class="col-sm-10 col-md-10">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <h3 class="text-success">{{customer.name}}</h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                email: {{customer.email}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                Phone Number: {{customer.phoneNumber}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                Joined On: {{customer.joinedOn|date:'dd MMM yyyy'}}
                                            </div>
                                        </div>

                                        <div class="row" ng-if="customer.address">
                                            <div class="col-sm-12 col-md-6">
                                                Building Number: {{customer.address.addressBuildingNumber}}
                                            </div>

                                            <div class="col-sm-12 col-md-6" ng-if="customer.address.addresshouseNumber">
                                                House Number: {{customer.address.addresshouseNumber}}
                                            </div>
                                            <div class="col-sm-12 col-md-6" ng-if="customer.address.addressfloor">
                                                Floor: {{customer.address.addressfloor}}
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                Location: {{customer.address.addressLocationName}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                        </div>
                </div>
                <div class="col-md-6 text-center" >
                    <h1>Click for details</h1>
                </div>


                <div class="col-md-6" >


                    <div id="allOrders" class="pre-scrollable maxh-500">
                    <div ng-repeat="orderInfo in customerList.allOrders" >
                        <div class="contact-box margin-bottom-0 padding-top-10 tab-pull-up">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <h2>Order Status : <span
                                                ng-class="{'green':orderInfo.status=='completed',
                                                   'red':orderInfo.status=='cancelled',
                                                   'orange':orderInfo.status=='current',
                                                   'gray':orderInfo.status=='unfulfilled'}">
                                                   {{orderInfo.status |capitalize}}
                                                   </span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="contact-box active margin-bottom-0 padding-top-5">

                            <div class="row">
                                <div class="col-sm-12 col-md-12">

                                    <div class="row ">

                                        <div class="col-sm-12 col-md-6 m-t">


                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <h4>SERVICE PROVIDER DETAILS</h4>
                                                </div>
                                            </div>

                                            <div class="row">

                                                <div class="col-sm-12 col-md-12">


                                                    <div class="row">

                                                        <div class="col-sm-12 col-md-12">
                                                            Name: {{orderInfo.refToServiceProvider.firstName}} {{orderInfo.refToServiceProvider.lastName}}
                                                        </div>
                                                    </div>
                                                    <div class="row">

                                                        <div class="col-sm-12 col-md-12">
                                                            Description: {{orderInfo.refToServiceProvider.description}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="contact-box padding-top-5">
                            <a>

                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="row m-t">


                                            <div class="col-sm-12 col-md-12">

                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12">
                                                        <h3>ORDER DETAILS</h3>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12">
                                                        Order No: {{orderInfo.orderNo}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12">
                                                        Description: {{orderInfo.orderDescription}}
                                                    </div>
                                                </div>

                                                <div class="row">

                                                    <div class="col-sm-6 col-md-6">
                                                        Service Category: {{orderInfo.serviceCategory}}
                                                    </div>

                                                    <div class="col-sm-6 col-md-6">
                                                        Service Type: {{orderInfo.serviceType}}
                                                    </div>
                                                </div>

                                                <div class="row padding-bottom-10 border-bottom-gray">

                                                    <div class="col-sm-6 col-md-6">
                                                        Order Time: {{orderInfo.bookingTime|date:'dd MMM,HH:mm'}}
                                                    </div>

                                                    <div class="col-sm-6 col-md-6">
                                                        Service Time: {{orderInfo.serviceTime|date:'dd MMM,HH:mm'}}
                                                    </div>
                                                </div>

                                                <div class="row m-t">

                                                    <div class="col-sm-8 col-md-8">
                                                        <h3>QUESTIONS</h3>
                                                    </div>

                                                    <div class="col-sm-4 col-md-4">
                                                        <h3>ANSWERS</h3>
                                                    </div>
                                                </div>

                                                <div class="row padding-bottom-5"
                                                     ng-repeat="ques in orderInfo.questions">

                                                    <div class="col-sm-8 col-md-8">
                                                        {{$index+1}}. {{ques.question}}
                                                    </div>

                                                    <div class="col-sm-8 col-md-4" ng-repeat="ans in ques.answer">
                                                        {{ans.answer}}
                                                    </div>
                                                </div>

                                                <div class="row" ng-repeat="image in orderInfo.imageUrl">
                                                    <div class="col">
                                                        <img class="imageBlock" ng-src="uploads/{{image}}">
                                                    </div>
                                                </div>


                                            </div>


                                        </div>

                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </div>
                    </div>
                        </div>
                </div>
            </div>


        </div>

        <!--<div class="footer">-->
            <!--<div class="pull-right">-->

            <!--</div>-->
            <!--<div>-->
                <!--<strong>Copyright</strong> Youstart &copy; 2016-->
            <!--</div>-->
        <!--</div>-->

    </div>
</div>

