<%- include header.ejs %>
<div id="wrapper" class="body-bg-black">


    <div id="page-wrapper" class="gray-bg">


        <%- include innerHeader.ejs %>

        <div class=" text-center loginscreen   animated fadeInDown">
            <form class="m-t" name="editServiceProviderForm" role="form"
                  ng-submit="!editServiceProviderForm.$valid||ESPCtrl.submit()" novalidate>
                <div class="row">

                    <div class="col-md-6 col-lg-4">

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="First Name" ng-required="true"
                                   ng-model="ESPCtrl.user.firstName" name="firstName">
                        </div>

                        <div ng-if="editServiceProviderForm.firstName.$error.required && ESPCtrl.submitted">
                            <div class="errors">Please enter first name.</div>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Last Name" ng-required="true"
                                   ng-model="ESPCtrl.user.lastName" name="lastName">
                        </div>

                        <div ng-if="editServiceProviderForm.lastName.$error.required && ESPCtrl.submitted">
                            <div class="errors">Please enter last name.</div>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Organization Name"
                                   ng-model="ESPCtrl.user.organization_name">
                        </div>

                        <div class="form-group">
                            <input type="tel" class="form-control" placeholder="Phone Number" ng-required="true"
                                   ng-model="ESPCtrl.user.phoneNumber" name="phoneNumber" numbers-only limit-to="8"
                                   ng-minlength="8" ng-maxlength="8">
                        </div>

                        <div ng-if="editServiceProviderForm.phoneNumber.$error.required && ESPCtrl.submitted">
                            <div class="errors">Please enter phone number.</div>
                        </div>

                        <div ng-if="editServiceProviderForm.phoneNumber.$error.minlength">
                            <div class="errors">8 digits only</div>
                        </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" ng-required="true"
                               ng-model="ESPCtrl.user.email" name="email" disabled>
                    </div>
                    <div ng-if="editServiceProviderForm.email.$error.required && ESPCtrl.submitted">
                        <div class="errors">Please enter email</div>
                    </div>

                    <div ng-if="!editServiceProviderForm.email.$error.required && editServiceProviderForm.email.$invalid && ESPCtrl.submitted">
                        <div class="errors">Please enter a valid email</div>
                    </div>


                    <div class="form-group">
                            <textarea class="form-control" placeholder="Description"
                                      ng-model="ESPCtrl.user.description"></textarea>
                    </div>

                    </div>

                <div class="col-md-6 col-lg-4">

                    <div class="row border-bottom-gray margin-right-10 margin-bottom-10">
                        <div class="col-sm-12 text-left">
                            <h3>Select provided services</h3>
                        </div>
                    </div>
                    <div class="form-group text-left">
                        <div ng-repeat="category in ESPCtrl.category"><label> {{category.category |capitalize}} </label>
                            <div class="checkbox i-checks" ng-repeat="service in category.services"><label> <input
                                            type="checkbox" ng-model="service.checkBoxVal"
                                            ng-click="ESPCtrl.addServiceType(service)"><i></i>
                                    {{service.serviceType}} </label></div>
                        </div>
                    </div>


                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="row border-bottom-gray margin-left-10 margin-right-10 margin-bottom-10">
                        <div class="col-sm-12 text-left">
                            <h3>Select profile image</h3>
                        </div>
                    </div>


                    <div ng-if="ESPCtrl.file">
                        <img ng-src="{{ESPCtrl.file.$ngfBlobUrl}}" class="profileImageBlock">
                    </div>

                    <div ng-if="!ESPCtrl.file">
                        <img ng-src="/uploads/{{ESPCtrl.user.imageURL}}" class="profileImageBlock">
                    </div>
                    <button class="btn btn-primary form-group margin-top-20" ngf-select ng-model="ESPCtrl.file"
                            name="file" ngf-pattern="'image/*'"
                            ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">
                        Select
                    </button>
                </div>
        </div>
        <div class="row border-top-dark padding-top-20">
            <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-primary block m-b registerButton"
                        ng-click="ESPCtrl.submitted=true">Submit
                </button>
            </div>

        </div>

        </form>
    </div>


</div>
</div>