<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="headerCtrl">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li ng-class={'active':enter}>
                <a ng-href='/orders' ng-click="showHighlightedTab('orders')"
                   ng-class="{'active':activeTab=='orders'}"><i class="fa fa-th-large"></i> <span class="nav-label">All Jobs</span> </a>
            </li>
            <li>
                <a ng-href='/serviceproviders' ng-click="showHighlightedTab('serviceproviders')"
                   ng-class="{'active':activeTab=='serviceproviders'}"><i class="fa fa-th-large"></i> <span class="nav-label">Service Providers</span> </a>
            </li>
            <li>
                <a ng-href='/registerserviceprovider' ng-click="showHighlightedTab('registerserviceprovider')"
                   ng-class="{'active':activeTab=='registerserviceprovider'}"><i class="fa fa-th-large"></i> <span class="nav-label">Add Service Provider</span> </a>
            </li>

            <li>
                <a ng-href='/customerlist' ng-click="showHighlightedTab('customerlist')"
                   ng-class="{'active':activeTab=='customerlist'}"><i class="fa fa-th-large"></i> <span class="nav-label">Customer List</span> </a>
            </li>
        </ul>
    </div>
</nav>
