<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="headerCtrl">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">

            <li>
                <a ng-href='/spallbids' ng-click="showHighlightedTab('spallbids')"
                   ng-class="{'active':activeTab=='spallbids'}"><i class="fa fa-th-large"></i> <span class="nav-label">New Jobs</span>
                </a>
            </li>

            <li>
                <a ng-href='/sporders' ng-click="showHighlightedTab('sporders')"
                   ng-class="{'active':activeTab=='sporders'}"><i class="fa fa-th-large"></i> <span class="nav-label">All Jobs</span>
                </a>
            </li>

            <li>
                <a ng-href='/registeremployee' ng-click="showHighlightedTab('registeremployee')"
                   ng-class="{'active':activeTab=='registeremployee'}"><i class="fa fa-th-large"></i> <span
                            class="nav-label">Add Employee</span> </a>
            </li>
            <li>
                <a ng-href='/employees' ng-click="showHighlightedTab('employees')"
                   ng-class="{'active':activeTab=='employees'}"><i class="fa fa-th-large"></i> <span class="nav-label">All Employees</span>
                </a>
            </li>

            <li>
                <a ng-href='/editserviceproviderdetails' ng-click="showHighlightedTab('editserviceproviderdetails')"
                   ng-class="{'active':activeTab=='editserviceproviderdetails'}"><i class="fa fa-th-large"></i> <span
                            class="nav-label">My Account</span> </a>
            </li>


        </ul>
    </div>
</nav>


