<%- include headerAdmin.ejs %>
<div id="wrapper" class="body-bg-black">


    <div id="page-wrapper" class="gray-bg">

        <%- include innerHeader.ejs %>

        <div class="row wrapper border-bottom white-bg page-heading padding-top-10 padding-bottom-10 ">
            <div class="col-md-5">
                <div class="filter-label "><h3>Sort By</h3></div>

                <button type="button" class="btn btn-link filter-button lightgray"
                        ng-class="{'btn-primary white ':orders.sortOrderBy=='timeSlotCode'}"
                        ng-click="orders.sortBy('timeSlotCode')">
                    Time Slot
                    <i class="fa " ng-class="{'fa-long-arrow-up': !orders.reverse,'fa-long-arrow-down': orders.reverse}"></i>
                </button>
                <button type="button" class="btn btn-link filter-button lightgray"
                        ng-class="{'btn-primary white ':orders.sortOrderBy=='serviceDate'}"
                        ng-click="orders.sortBy('serviceDate')">
                    Service Date
                    <i class="fa " ng-class="{'fa-long-arrow-up': !orders.reverse,'fa-long-arrow-down': orders.reverse}"></i>
                </button>
                <button type="button" class="btn btn-link filter-button lightgray"
                        ng-class="{'btn-primary white ':orders.sortOrderBy=='orderNo'}"
                        ng-click="orders.sortBy('orderNo')">
                    Order Number
                    <i class="fa " ng-class="{'fa-long-arrow-up': !orders.reverse,'fa-long-arrow-down': orders.reverse}"></i>
                </button>
            </div>

            <div class="col-md-7">
                <h3>Filter By</h3>
                <div>
                    <div class="text-medium filter-label">Category</div>
                    <button type="button" class="btn btn-link filter-button lightgray"
                            ng-class="{'btn-primary white ':orders.filterByCategory=='Handyman'}"
                            ng-click="orders.filterByCategory='Handyman'">Handyman
                    </button>
                    <button type="button" class="btn btn-link filter-button lightgray"
                            ng-class="{'btn-primary white ':orders.filterByCategory=='Moving'}"
                            ng-click="orders.filterByCategory='Moving'">Moving
                    </button>
                    <button type="button" class="btn btn-link filter-button lightgray"
                            ng-class="{'btn-primary white ':orders.filterByCategory=='Cleaning'}"
                            ng-click="orders.filterByCategory='Cleaning'">Cleaning
                    </button>
                    <button type="button" class="btn btn-link filter-button lightgray"
                            ng-class="{'btn-primary white ':orders.filterByCategory=='all'}"
                            ng-click="orders.filterByCategory='all'">All Category
                    </button>
                </div>
                <div>
                    <div class="text-medium filter-label">Service Date</div>
                    <button type="button" class="btn btn-link filter-button lightgray"
                            ng-class="{'btn-primary white ':orders.filterByServiceDate=='today'}"
                            ng-click="orders.filterByServiceDate='today'">Today
                    </button>
                    <button type="button" class="btn btn-link filter-button lightgray"
                            ng-class="{'btn-primary white ':orders.filterByServiceDate=='week'}"
                            ng-click="orders.filterByServiceDate='week'">This Week
                    </button>
                    <button type="button" class="btn btn-link filter-button lightgray"
                            ng-class="{'btn-primary white ':orders.filterByServiceDate=='all'}"
                            ng-click="orders.filterByServiceDate='all'">All Dates
                    </button>
                </div>
                <div>
                    <div class="text-medium filter-label">Status</div>
                    <button type="button" class="btn btn-link filter-button lightgray"
                            ng-class="{'btn-primary white ':orders.filterByStatus=='unfulfilled'}"
                            ng-click="orders.filterByStatus='unfulfilled'">Unfulfilled
                    </button>
                    <button type="button" class="btn btn-link filter-button lightgray"
                            ng-class="{'btn-primary white ':orders.filterByStatus=='cancelled'}"
                            ng-click="orders.filterByStatus='cancelled'">Cancelled
                    </button>
                    <button type="button" class="btn btn-link filter-button lightgray"
                            ng-class="{'btn-primary white ':orders.filterByStatus=='current'}"
                            ng-click="orders.filterByStatus='current'">Current
                    </button>
                    <button type="button" class="btn btn-link filter-button lightgray"
                            ng-class="{'btn-primary white ':orders.filterByStatus=='completed'}"
                            ng-click="orders.filterByStatus='completed'">Completed
                    </button>
                    <button type="button" class="btn btn-link filter-button lightgray"
                            ng-class="{'btn-primary white ':orders.filterByStatus=='all'}"
                            ng-click="orders.filterByStatus='all'">All Status
                    </button>
                </div>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-md-6">
                    <div id="allOrders" class="pre-scrollable maxh-500">
                        <div class="row" ng-repeat="order in orders.allOrders
                        |orderBy:orders.sortOrderBy:orders.reverse
                        |filterOrderByCategory:orders.filterByCategory
                        |filterOrderByStatus:orders.filterByStatus
                        |filterOrderByServiceDate:orders.filterByServiceDate">
                            <div class="col-md-12">
                                <a>
                                    <div class="contact-box padding-top-5 padding-bottom-5 margin-bottom-5"
                                         ng-click="orders.openOrder(order)"
                                         ng-class="{'active-border':orders.clicked==order._id,'no-border':orders.clicked!=order._id}">
                                        <div class="row border-bottom-gray margin-bottom-10 padding-top-5 padding-bottom-5">
                                            <div class="col-sm-10 text-muted">
                                                Order No: {{order.orderNo}}
                                                {{clicked}}
                                            </div>
                                            <div class="col-sm-2 text-right">
                                                <i class="fa fa-2x"
                                                   ng-class="{'fa-check-circle green':order.status=='completed',
                                                   'fa-times-circle red':order.status=='cancelled',
                                                   'fa-clock-o orange':order.status=='current',
                                                   'fa-ellipsis-h gray':order.status=='unfulfilled'}"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-md-2">
                                            <div class="text-center">
                                                <img ng-src="{{('img/'+order.serviceCategory+'.png')}}" alt="image"
                                                     class=" m-t-xs img-responsive">
                                            </div>
                                        </div>
                                        <div class="col-sm-10 col-md-10">
                                            <div class="row">

                                                <div class="col-sm-6">
                                                    <h2 class="margin-top-0 text-success">{{order.serviceType |
                                                        capitalize}}</h2>
                                                </div>
                                                <div class="col-sm-6 ">
                                                    <h2 class="margin-top-0 text-right text-primary">
                                                        {{order.serviceDate|date:'dd MMM'}}</h2>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6 text-primary">
                                                    {{order.serviceProviderName}}
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <h2 class="margin-top-0 text-right">
                                                        <small>{{order.serviceTime}}</small>
                                                    </h2>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="clearfix"></div>

                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <span class="bold" ng-click="orders.fetchOrders()"> fetch more orders</span>
                </div>
                <div class="col-md-6 text-center" ng-if="!orders.showInfo">
                    <h1>Click order for details</h1>
                </div>


                <div class="col-md-6">
                    <button type="button" class="btn" ng-if="orders.showInfo"
                            ng-class="{'button-tab-active':orders.showOrder,'button-tab-inactive':!orders.showOrder}"
                            ng-click="orders.showOrder=true">Order Details
                    </button>
                    <button type="button" class="btn" ng-if="orders.showInfo"
                            ng-class="{'button-tab-active':!orders.showOrder,'button-tab-inactive':orders.showOrder}"
                            ng-click="orders.getBids(orders.veiwOrder)">Bids
                    </button>
                    <div ng-if="orders.showInfo && orders.showOrder">
                        <div class="contact-box margin-bottom-0 padding-top-10 tab-pull-up">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <h2>Order Status : <span
                                                ng-class="{'green':orders.veiwOrder.status=='completed',
                                                   'red':orders.veiwOrder.status=='cancelled',
                                                   'orange':orders.veiwOrder.status=='current',
                                                   'gray':orders.veiwOrder.status=='unfulfilled'}">
                                                   {{orders.veiwOrder.status |capitalize}}
                                                   </span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="contact-box active margin-bottom-0 padding-top-5">

                            <div class="row">
                                <div class="col-sm-12 col-md-12">

                                    <div class="row ">

                                        <div class="col-sm-12 col-md-6 m-t">

                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <h4>CUSTOMER DETAILS</h4>
                                                </div>
                                            </div>

                                            <div class="row">

                                                <div class="col-sm-12 col-md-12">
                                                    Name: {{orders.veiwOrder.customerName}}
                                                </div>
                                            </div>

                                            <div class="row">

                                                <div class="col-sm-12 col-md-12">
                                                    Phone: {{orders.veiwOrder.customerPhoneNumber}}
                                                </div>
                                            </div>

                                            <div class="row">

                                                <div class="col-sm-12 col-md-12">
                                                    Email: {{orders.veiwOrder.customerEmail}}
                                                </div>
                                            </div>

                                            <div class="row">

                                                <div class="col-sm-12 col-md-12">
                                                    Address: {{orders.veiwOrder.customerAddress}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6 m-t">


                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <h4>SERVICE PROVIDER DETAILS</h4>
                                                </div>
                                            </div>

                                            <div class="row">

                                                <div class="col-sm-12 col-md-12">


                                                    <div class="row">

                                                        <div class="col-sm-12 col-md-12">
                                                            Name: {{orders.veiwOrder.serviceProviderName}}
                                                        </div>
                                                    </div>
                                                    <div class="row">

                                                        <div class="col-sm-12 col-md-12">
                                                            Description: {{orders.veiwOrder.serviceProviderDescription}}
                                                        </div>
                                                    </div>
                                                    <div class="row">

                                                        <div class="col-sm-12 col-md-12">
                                                            Rating: {{orders.veiwOrder.serviceProviderRating}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="contact-box padding-top-5">
                            <a>

                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="row m-t">


                                            <div class="col-sm-12 col-md-12">

                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12">
                                                        <h3>ORDER DETAILS</h3>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12">
                                                        Order No: {{orders.veiwOrder.orderNo}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12">
                                                        Description: {{orders.veiwOrder.orderDescription}}
                                                    </div>
                                                </div>

                                                <div class="row">

                                                    <div class="col-sm-6 col-md-6">
                                                        Service Category: {{orders.veiwOrder.serviceCategory}}
                                                    </div>

                                                    <div class="col-sm-6 col-md-6">
                                                        Service Type: {{orders.veiwOrder.serviceType}}
                                                    </div>
                                                </div>

                                                <div class="row padding-bottom-10 border-bottom-gray">

                                                    <div class="col-sm-6 col-md-6">
                                                        Order Time: {{orders.veiwOrder.bookingTime|date:'dd MMM,HH:mm'}}
                                                    </div>

                                                    <div class="col-sm-6 col-md-6">
                                                        Service Time: {{orders.veiwOrder.serviceTime|date:'dd MMM,HH:mm'}}
                                                    </div>
                                                </div>

                                                <div class="row m-t">

                                                    <div class="col-sm-8 col-md-8">
                                                        <h3>QUESTIONS</h3>
                                                    </div>

                                                    <div class="col-sm-4 col-md-4">
                                                        <h3>ANSWERS</h3>
                                                    </div>
                                                </div>

                                                <div class="row padding-bottom-5"
                                                     ng-repeat="ques in orders.veiwOrder.questions">

                                                    <div class="col-sm-8 col-md-8">
                                                        {{$index+1}}. {{ques.question}}
                                                    </div>

                                                    <div class="col-sm-8 col-md-4" ng-repeat="ans in ques.answer">
                                                        {{ans.answer}}
                                                    </div>
                                                </div>

                                                <div class="row" ng-repeat="image in orders.veiwOrder.imageUrl">
                                                    <div class="col">
                                                        <img class="imageBlock" ng-src="uploads/{{image}}">
                                                    </div>
                                                </div>


                                            </div>


                                        </div>

                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </div>
                    </div>
                    <div ng-if="orders.showInfo && !orders.showOrder">
                        <div class="contact-box margin-bottom-0 padding-top-10 tab-pull-up">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <h2>Order Status : <span
                                                ng-class="{'green':orders.veiwOrder.status=='completed',
                                                   'red':orders.veiwOrder.status=='cancelled',
                                                   'orange':orders.veiwOrder.status=='current',
                                                   'gray':orders.veiwOrder.status=='unfulfilled'}">
                                                   {{orders.veiwOrder.status |capitalize}}

                                                   </span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="contact-box padding-top-5">
                            <a>

                                <div class="ibox-content" ng-if="orders.ordersBid.length!=0">

                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Organization</th>
                                            <th>Bidding</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="bid in orders.ordersBid"
                                            ng-class="{'bidWonBackground':bid.bidWon}">
                                            <td>{{$index+1}}</td>
                                            <td><span class="pie">{{bid.name}}</span></td>
                                            <td>{{bid.organization}}</td>
                                            <td class="text-navy"> {{bid.bidding}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="ibox-content" ng-if="orders.ordersBid.length==0">
                                    <h2>No Bids Provided By Service Provider Yet</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!--<div class="footer">-->
            <!--<div>-->
                <!--<strong>Copyright</strong> Youstart &copy; 2016-->
            <!--</div>-->
        <!--</div>-->

    </div>
</div>

