<%- include headerAdmin.ejs %>
<div id="wrapper" class="body-bg-black">


    <div id="page-wrapper" class="gray-bg">


        <%- include innerHeader.ejs %>

        <div class=" text-center loginscreen   animated fadeInDown">
            <form name="addServiceProviderForm" class="m-t" role="form" novalidate
                  ng-submit="!addServiceProviderForm.$valid||RSPCtrl.submit()">
                <div class="row">

                    <div class="col-md-6 col-lg-4">

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="First Name" ng-required="true"
                                   name="firstName"
                                   ng-model="RSPCtrl.user.firstName" name="firstName">
                        </div>

                        <div ng-if="addServiceProviderForm.firstName.$error.required && RSPCtrl.submitted">
                            <div class="errors">Please enter first name.</div>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Last Name" ng-required="true"
                                   name="lastName"
                                   ng-model="RSPCtrl.user.lastName">
                        </div>

                        <div ng-if="addServiceProviderForm.lastName.$error.required && RSPCtrl.submitted">
                            <div class="errors">Please enter last name.</div>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Organization Name"
                                   name="organization_name"
                                   ng-model="RSPCtrl.user.organization_name" ng-required="true">
                        </div>

                        <div ng-if="addServiceProviderForm.organization_name.$error.required && RSPCtrl.submitted">
                            <div class="errors">Please enter organization name.</div>
                        </div>

                        <div class="form-group">
                            <input type="text" numbers-only class="form-control" placeholder="Phone Number" ng-required="true"
                                   name="phoneNumber"
                                   ng-model="RSPCtrl.user.phoneNumber" limit-to="8" ng-minlength="8" ng-maxlength="8">
                        </div>

                        <div ng-if="addServiceProviderForm.phoneNumber.$error.required && RSPCtrl.submitted">
                            <div class="errors">Please enter phone number.</div>
                        </div>

                        <div ng-if="addServiceProviderForm.phoneNumber.$error.minlength">
                            <div class="errors">8 digits only</div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" ng-required="true" name="email"
                                   ng-model="RSPCtrl.user.email">
                        </div>

                        <div ng-if="addServiceProviderForm.email.$error.required && RSPCtrl.submitted">
                            <div class="errors">Please enter email</div>
                        </div>

                        <div ng-if="!addServiceProviderForm.email.$error.required && addServiceProviderForm.email.$invalid && RSPCtrl.submitted">
                            <div class="errors">Please enter a valid email</div>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" ng-required="true"
                                   name="password"
                                   ng-model="RSPCtrl.user.password">
                        </div>
                        <div ng-if="addServiceProviderForm.password.$error.required && RSPCtrl.submitted">
                            <div class="errors">Please enter password</div>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" placeholder="Description"
                                      ng-model="RSPCtrl.user.description"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">

                        <div class="row border-bottom-gray margin-right-10 margin-bottom-10">
                            <div class="col-sm-12 text-left">
                                <h3>Select provided services</h3>
                            </div>
                        </div>
                        <div class="form-group text-left">
                            <div ng-repeat="category in RSPCtrl.category"><label> {{category.category
                                    |capitalize}} </label>
                                <div class="checkbox i-checks" ng-repeat="service in category.services"><label> <input
                                                type="checkbox" ng-model="service.checkBoxVal"
                                                ng-click="RSPCtrl.addServiceType(service)"><i></i>
                                        {{service.serviceType }} </label></div>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="row border-bottom-gray margin-left-10 margin-right-10 margin-bottom-10">
                            <div class="col-sm-12 text-left">
                                <h3>Select profile image</h3>
                            </div>
                        </div>
                        <div ng-if="RSPCtrl.file">
                            <img ng-src="{{RSPCtrl.file.$ngfBlobUrl}} " class="profileImageBlock" >
                        </div>
                        <button class="btn btn-primary form-group margin-top-20 " ngf-select ng-model="RSPCtrl.file"
                                name="file" ngf-pattern="'image/*'"
                                ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">
                            Select
                        </button>
                        <div ng-if="RSPCtrl.fileRequired" class="errors">Please upload image</div>
                    </div>


                </div>
                <div class="row border-top-dark padding-top-20">
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary block m-b registerButton"
                                ng-click="RSPCtrl.submitted=true">Register
                        </button>
                    </div>
                </div>
            </form>
        </div>


    </div>
</div>