<%- include headerAdmin.ejs %>
<div id="wrapper" class="body-bg-black">


    <div id="page-wrapper" class="gray-bg">
        <%- include innerHeader.ejs %>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-md-6">

                    <div id="allOrders" class="pre-scrollable maxh-500">
                    <div class="row" ng-repeat="provider in SPCtrl.allServiceProviders">
                        <div class="col-md-12">
                            <div class="contact-box" ng-click="SPCtrl.openProviderInfo(provider)"
                                 ng-class="{'active-border':SPCtrl.clicked==provider.name,'no-border':SPCtrl.clicked!=provider.name}">
                            <a>

                                    <div class="col-sm-2 col-md-2">
                                        <div class="text-center">
                                            <img  ng-src="uploads/{{provider.imageURL}}" class=" m-t-xs img-rounded">
                                        </div>
                                    </div>
                                    <div class="col-sm-10 col-md-10">

                                        <div class="row">

                                            <button class="btn btn-danger" ng-if="provider.accountActive"
                                                    ng-click="SPCtrl.disableEmployee(provider);$event.stopPropagation()">
                                                Disable Employee
                                            </button>

                                            <button class="btn btn-danger" ng-if="!provider.accountActive"
                                                    ng-click="SPCtrl.disableEmployee(provider);$event.stopPropagation()">
                                                Enable Employee
                                            </button>
                                            <div class="col-sm-12 col-md-12">
                                                <h3 class="text-success">{{provider.name}}</h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                Description: {{provider.description}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                Average Rating: {{provider.averageRating}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                Total Services Offered: {{provider.serviceOffered.length}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                        </div>
                </div>
                <div class="col-md-6 text-center" ng-if="!SPCtrl.showProviderInfo">
                    <h1>Click for details</h1>
                </div>


                <div class="col-md-6" >
                    <button type="button" class="btn " ng-if="SPCtrl.showProviderInfo"
                            ng-class="{'button-tab-active':SPCtrl.showProvider,'button-tab-inactive':!SPCtrl.showProvider}"
                            ng-click="SPCtrl.showProvider=true" >Provider Details</button>
                    <button type="button" class="btn " ng-if="SPCtrl.showProviderInfo"
                            ng-class="{'button-tab-active':!SPCtrl.showProvider,'button-tab-inactive':SPCtrl.showProvider}"
                            ng-click="SPCtrl.getAllEmployee(SPCtrl.veiwProvider.providerId)" >Employees</button>
                    <div ng-if="SPCtrl.showProviderInfo && SPCtrl.showProvider">
                        <div class="contact-box margin-bottom-0 tab-pull-up">
                            <div class="row">
                                <div class="col-sm-12 text-center ">
                                    <h2 class="margin-top-0 border-bottom-gray padding-bottom-10">
                                        <small><strong>SERVICE PROVIDER DETAILS</strong></small>
                                    </h2>
                                </div>
                            </div>
                            <div class="row m-t">
                                <div class="col-sm-12 col-md-8 text-right">

                                    <div class="row text-left">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <div class="col-sm-4 padding-0">
                                                        Name:
                                                    </div>
                                                    <div class="col-sm-8 padding-right-0">
                                                        {{SPCtrl.veiwProvider.name}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <div class="col-sm-4 padding-0">Description:
                                                    </div>
                                                    <div class="col-sm-8 padding-right-0">
                                                        {{SPCtrl.veiwProvider.description}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <div class="col-sm-4 padding-0"> Total Rating:</div>
                                                    <div class="col-sm-8 padding-right-0">
                                                        {{SPCtrl.veiwProvider.totalRating}}

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <div class="col-sm-4 padding-0">Average Rating:</div>
                                                    <div class="col-sm-8 padding-right-0">
                                                        {{SPCtrl.veiwProvider.averageRating}}

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4 text-right">
                                    <img ng-src="/uploads/{{SPCtrl.veiwProvider.imageURL}}"
                                         class=" m-t-xs img-responsive">
                                </div>
                            </div>
                        </div>
                        <div class="contact-box active margin-bottom-0 padding-top-5 ">
                            <div class="row m-t">
                                <div class="col-sm-12 col-md-12 text-center">
                                    <h4>SERVICES OFFERED</h4>
                                </div>
                            </div>
                            <div class="row m-t">
                                <div class="col-sm-4 col-md-4">
                                    <strong>Service Type</strong>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <strong>Title</strong>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <strong>Price</strong>
                                </div>
                            </div>
                            <div class="row" ng-repeat="service in SPCtrl.veiwProvider.serviceOffered">

                                <div class="col-sm-4 col-md-4">
                                    {{service.serviceType | capitalize}}
                                </div>

                                <div class="col-sm-4 col-md-6">

                                    {{service.menu.title | capitalize}}
                                </div>

                                <div class="col-sm-4 col-md-2">

                                    {{service.menu.priceEstimate}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<div class="contact-box padding-top-5">-->
                        <!--<div class="row m-t">-->
                            <!--<div class="col-sm-12 col-md-12 text-center">-->
                                <!--<button class="btn btn-danger" ng-click="SPCtrl.deleteUser(SPCtrl.veiwProvider)">-->
                                    <!--Delete User-->
                                <!--</button>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="clearfix"></div>-->
                    <!--</div>-->
                    <div ng-if="SPCtrl.showProviderInfo && !SPCtrl.showProvider" >
                        <div class="contact-box margin-bottom-0 tab-pull-up">
                            <div class="row">
                                <div class="col-sm-12 text-center ">
                                    <h2 class="margin-top-0 border-bottom-gray padding-bottom-10">
                                        <small><strong>EMPLOYEE DETAILS</strong></small>
                                    </h2>
                                </div>
                            </div>
                            <div class="row m-t" ng-repeat="employee in SPCtrl.allEmployees">
                                <div class="col-sm-12 col-md-8 text-right">

                                    <div class="row text-left">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <div class="col-sm-4 padding-0">
                                                        Name:
                                                    </div>
                                                    <div class="col-sm-8 padding-right-0">
                                                        {{employee.name}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <div class="col-sm-4 padding-0">Description:
                                                    </div>
                                                    <div class="col-sm-8 padding-right-0">
                                                        {{employee.description}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <div class="col-sm-4 padding-0"> Total Rating:</div>
                                                    <div class="col-sm-8 padding-right-0">
                                                        {{employee.totalRating}}

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <div class="col-sm-4 padding-0">Average Rating:</div>
                                                    <div class="col-sm-8 padding-right-0">
                                                        {{employee.averageRating}}

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4 text-right">
                                    <img ng-src="/uploads/{{employee.imageURL}}"
                                         class=" m-t-xs img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!--<div class="footer">-->
            <!--<div class="pull-right">-->

            <!--</div>-->
            <!--<div>-->
                <!--<strong>Copyright</strong> Youstart &copy; 2016-->
            <!--</div>-->
        <!--</div>-->

    </div>
</div>

