
<div class="wrapper body-bg-white">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div class="row">

                <div class="col-md-12 text-center">
                    <img src="img/fxt_logo.png" class="logo">
                </div>
            </div>
            <div class="row">

                <div class="col-md-12 text-center">
                    <h2>SERVICE PROVIDER LOGIN</h2>
                </div>
            </div>
                <form class="m-t" role="form" ng-submit="SPLoginCtrl.login()">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Username" required="" ng-model="SPLoginCtrl.user.email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required="" ng-model="SPLoginCtrl.user.password">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                <a href="#" ng-click="SPLoginCtrl.forgotPassword()">Forgot password?</a>

                    <div class="row" ng-if="SPLoginCtrl.loginError">
                        <div class="col-md-12 text-center">
                            <h4 class="bold errors">Invalid Username or Password</h4>
                        </div>
                    </div>
            </form>
        </div>
    </div>


</div>