<%- include header.ejs %>
<div id="wrapper" class="body-bg-black">


    <div id="page-wrapper" class="gray-bg">
        <%- include innerHeader.ejs %>

        <div class="row wrapper white-bg page-heading padding-top-10 padding-bottom-10 ">
            <div class="col-md-5">
                <div class="filter-label "><h3>Sort By</h3></div>
                <button type="button" class="btn btn-link filter-button lightgray"
                        ng-class="{'btn-primary white ':SPOrderCtrl.sortOrderBy=='timeSlotCode'}"
                        ng-click="SPOrderCtrl.sortBy('timeSlotCode')">
                    Time Slot
                    <i class="fa "
                       ng-class="{'fa-long-arrow-up': !SPOrderCtrl.reverse,'fa-long-arrow-down': SPOrderCtrl.reverse}"></i>
                </button>
                <button type="button" class="btn btn-link filter-button lightgray"
                        ng-class="{'btn-primary white ':SPOrderCtrl.sortOrderBy=='serviceDate'}"
                        ng-click="SPOrderCtrl.sortBy('serviceDate')">
                    Service Date
                    <i class="fa "
                       ng-class="{'fa-long-arrow-up': !SPOrderCtrl.reverse,'fa-long-arrow-down': SPOrderCtrl.reverse}"></i>
                </button>
                <button type="button" class="btn btn-link filter-button lightgray"
                        ng-class="{'btn-primary white ':SPOrderCtrl.sortOrderBy=='orderNo'}"
                        ng-click="SPOrderCtrl.sortBy('orderNo')">
                    Order Number
                    <i class="fa "
                       ng-class="{'fa-long-arrow-up': !SPOrderCtrl.reverse,'fa-long-arrow-down': SPOrderCtrl.reverse}"></i>
                </button>
            </div>

            <div class="col-md-7 margin-top-5 border-left-gray">

                <h3>Filter By</h3>
                <div>
                    <div class="text-medium filter-label">Category</div>
                    <button type="button" class="btn btn-link filter-button lightgray"
                            ng-class="{'btn-primary white ':SPOrderCtrl.filterByCategory=='Handyman'}"
                            ng-click="SPOrderCtrl.filterByCategory='Handyman'">Handyman
                    </button>
                    <button type="button" class="btn btn-link filter-button lightgray"
                            ng-class="{'btn-primary white ':SPOrderCtrl.filterByCategory=='Moving'}"
                            ng-click="SPOrderCtrl.filterByCategory='Moving'">Moving
                    </button>
                    <button type="button" class="btn btn-link filter-button lightgray"
                            ng-class="{'btn-primary white ':SPOrderCtrl.filterByCategory=='Cleaning'}"
                            ng-click="SPOrderCtrl.filterByCategory='Cleaning'">Cleaning
                    </button>
                    <button type="button" class="btn btn-link filter-button lightgray"
                            ng-class="{'btn-primary white ':SPOrderCtrl.filterByCategory=='all'}"
                            ng-click="SPOrderCtrl.filterByCategory='all'">All Category
                    </button>
                </div>
                <div>
                    <div class="text-medium filter-label">Service Date</div>
                    <button type="button" class="btn btn-link filter-button lightgray"
                            ng-class="{'btn-primary white ':SPOrderCtrl.filterByServiceDate=='today'}"
                            ng-click="SPOrderCtrl.filterByServiceDate='today'">Today
                    </button>
                    <button type="button" class="btn btn-link filter-button lightgray"
                            ng-class="{'btn-primary white ':SPOrderCtrl.filterByServiceDate=='week'}"
                            ng-click="SPOrderCtrl.filterByServiceDate='week'">This Week
                    </button>
                    <button type="button" class="btn btn-link filter-button lightgray"
                            ng-class="{'btn-primary white ':SPOrderCtrl.filterByServiceDate=='all'}"
                            ng-click="SPOrderCtrl.filterByServiceDate='all'">All Dates
                    </button>
                </div>
                <div>
                    <div class="text-medium filter-label">Status</div>
                    <button type="button" class="btn btn-link filter-button lightgray"
                            ng-class="{'btn-primary white ':SPOrderCtrl.filterByStatus=='unfulfilled'}"
                            ng-click="SPOrderCtrl.filterByStatus='unfulfilled'">Unfulfilled
                    </button>
                    <button type="button" class="btn btn-link filter-button lightgray"
                            ng-class="{'btn-primary white ':SPOrderCtrl.filterByStatus=='cancelled'}"
                            ng-click="SPOrderCtrl.filterByStatus='cancelled'">Cancelled
                    </button>
                    <button type="button" class="btn btn-link filter-button lightgray"
                            ng-class="{'btn-primary white ':SPOrderCtrl.filterByStatus=='current'}"
                            ng-click="SPOrderCtrl.filterByStatus='current'">Current
                    </button>
                    <button type="button" class="btn btn-link filter-button lightgray"
                            ng-class="{'btn-primary white ':SPOrderCtrl.filterByStatus=='completed'}"
                            ng-click="SPOrderCtrl.filterByStatus='completed'">Completed
                    </button>
                    <button type="button" class="btn btn-link filter-button lightgray"
                            ng-class="{'btn-primary white ':SPOrderCtrl.filterByStatus=='all'}"
                            ng-click="SPOrderCtrl.filterByStatus='all'">All Status
                    </button>
                </div>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-md-6">
                    <div id="allOrders" class="pre-scrollable maxh-500">
                        <div class="row" ng-repeat="order in SPOrderCtrl.allOrders
                        |orderBy:SPOrderCtrl.sortOrderBy:SPOrderCtrl.reverse
                        |filterOrderByCategory:SPOrderCtrl.filterByCategory
                        |filterOrderByStatus:SPOrderCtrl.filterByStatus
                        |filterOrderByServiceDate:SPOrderCtrl.filterByServiceDate">

                            <div class="col-md-12">
                                <a>
                                    <div class="contact-box padding-top-5 padding-bottom-5 margin-bottom-10"
                                         ng-click="SPOrderCtrl.openOrder(order)"
                                         ng-class="{'active-border':SPOrderCtrl.clicked==order._id,'no-border':SPOrderCtrl.clicked!=order._id}">
                                        <div class="row border-bottom-gray margin-bottom-10 padding-bottom-5">
                                            <div class="col-sm-6 text-muted button-line-height">
                                                Order No: {{order.orderNo}}
                                            </div>
                                            <div class="col-sm-6 col-md-6 text-right">
                                                <button class="btn btn-danger " ng-if="!order.employeeId"
                                                        ng-click="SPOrderCtrl.selectEmployeeForOrder(order);$event.stopPropagation()">
                                                    Assign Job to Staff
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-md-2">
                                            <div class="text-center">
                                                <img ng-src="{{('img/'+order.serviceCategory+'.png')}}" alt="image"
                                                     class=" m-t-xs img-responsive">
                                            </div>
                                            <div><i class="fa fa-2x order-badge"
                                                    ng-class="{'fa-check-circle green':order.status=='completed',
                                                   'fa-times-circle red':order.status=='cancelled',
                                                   'fa-clock-o orange':order.status=='current',
                                                   'fa-ellipsis-h gray':order.status=='unfulfilled'}"></i></div>
                                        </div>
                                        <div class="col-sm-10 col-md-10">
                                            <div class="row">

                                                <div class="col-sm-6">
                                                    <h2 class="margin-top-0 text-success">{{order.serviceType }}</h2>
                                                </div>
                                                <div class="col-sm-6 ">
                                                    <h2 class="margin-top-0 text-right text-primary">
                                                        {{order.serviceDate|date:'dd MMM'}}</h2>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6 text-primary">
                                                    {{order.serviceProviderName}}
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <h2 class="margin-top-0 text-right">
                                                        <small>{{order.serviceTime}}</small>
                                                    </h2>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <span class="bold" ng-click="SPOrderCtrl.fetchOrders()"> fetch more orders</span>

                </div>
                <div class="col-md-6 text-center" ng-if="!SPOrderCtrl.showInfo && !SPOrderCtrl.employeeList">
                    <h1>Click order for details</h1>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn button-tab-active" ng-if="SPOrderCtrl.showInfo">Order Details
                    </button>
                    <div ng-if="SPOrderCtrl.showInfo ">
                        <div class="contact-box margin-bottom-0 padding-top-10 tab-pull-up">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <h2>Order Status : <span
                                                ng-class="{'green':SPOrderCtrl.veiwOrder.status=='completed',
                                                   'red':SPOrderCtrl.veiwOrder.status=='cancelled',
                                                   'orange':SPOrderCtrl.veiwOrder.status=='current',
                                                   'gray':SPOrderCtrl.veiwOrder.status=='unfulfilled'}">
                                                   {{SPOrderCtrl.veiwOrder.status |capitalize}}
                                                   </span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="contact-box active margin-bottom-0 padding-top-5">

                            <div class="row">
                                <div class="col-sm-12 col-md-12">

                                    <div class="row ">

                                        <div class="col-sm-12 col-md-6 m-t">

                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <h4>CUSTOMER DETAILS</h4>
                                                </div>
                                            </div>

                                            <div class="row">

                                                <div class="col-sm-12 col-md-12">
                                                    Name: {{SPOrderCtrl.veiwOrder.customerName}}
                                                </div>
                                            </div>

                                            <div class="row">

                                                <div class="col-sm-12 col-md-12">
                                                    Phone: {{SPOrderCtrl.veiwOrder.customerPhoneNumber}}
                                                </div>
                                            </div>

                                            <div class="row">

                                                <div class="col-sm-12 col-md-12">
                                                    Email: {{SPOrderCtrl.veiwOrder.customerEmail}}
                                                </div>
                                            </div>

                                            <div class="row">

                                                <div class="col-sm-12 col-md-12">
                                                    Address:


                                                    <div class="row"
                                                         ng-if="SPOrderCtrl.veiwOrder.customerbuildingNumber">
                                                        <div class="col-sm-12 col-md-12">
                                                            Building Number:{{
                                                            SPOrderCtrl.veiwOrder.customerbuildingNumber}}
                                                        </div>
                                                    </div>
                                                    <div class="row" ng-if="SPOrderCtrl.veiwOrder.customerFloorNumber">
                                                        <div class="col-sm-12 col-md-12">
                                                            Floor:{{SPOrderCtrl.veiwOrder.customerFloorNumber}}
                                                        </div>
                                                    </div>
                                                    <div class="row"
                                                         ng-if="SPOrderCtrl.veiwOrder.customerHouseNumber">
                                                        <div class="col-sm-12 col-md-12">
                                                            House Number:{{SPOrderCtrl.veiwOrder.customerHouseNumber}}
                                                        </div>
                                                    </div>
                                                    <div class="row" ng-if="SPOrderCtrl.veiwOrder.customerLocationName">
                                                        <div class="col-sm-12 col-md-12">
                                                            Location: {{SPOrderCtrl.veiwOrder.customerLocationName}}
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6 m-t">


                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <h4>ASSIGNED TO</h4>
                                                </div>
                                            </div>

                                            <div class="row">

                                                <div class="col-sm-12 col-md-12">


                                                    <div class="row">

                                                        <div class="col-sm-12 col-md-12">
                                                            Name: {{SPOrderCtrl.veiwOrder.employeeId.firstName}}
                                                            {{SPOrderCtrl.veiwOrder.employeeId.lastName}}
                                                        </div>
                                                    </div>
                                                    <div class="row">

                                                        <div class="col-sm-12 col-md-12">
                                                            Feedback: {{SPOrderCtrl.veiwOrder.orderRating}}
                                                        </div>
                                                    </div>
                                                    <div class="row">

                                                        <div class="col-sm-12 col-md-12">
                                                            Rating: {{SPOrderCtrl.veiwOrder.customerFeedback}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="contact-box padding-top-5">
                            <a>

                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="row m-t">


                                            <div class="col-sm-12 col-md-12">

                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12">
                                                        <h3>ORDER DETAILS</h3>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12">
                                                        Order No: {{SPOrderCtrl.veiwOrder.orderNo}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12">
                                                        Description: {{SPOrderCtrl.veiwOrder.orderDescription}}
                                                    </div>
                                                </div>

                                                <div class="row">

                                                    <div class="col-sm-6 col-md-6">
                                                        Service Category: {{SPOrderCtrl.veiwOrder.serviceCategory}}
                                                    </div>

                                                    <div class="col-sm-6 col-md-6">
                                                        Service Type: {{SPOrderCtrl.veiwOrder.serviceType}}
                                                    </div>
                                                </div>

                                                <div class="row padding-bottom-10 border-bottom-gray">

                                                    <div class="col-sm-6 col-md-6">
                                                        Order Time: {{SPOrderCtrl.veiwOrder.bookingTime|date:'dd MMM
                                                        yy,HH:mm'}}
                                                    </div>

                                                    <div class="col-sm-6 col-md-6">
                                                        Service Time: {{SPOrderCtrl.veiwOrder.serviceTime|date:'dd MMM
                                                        yy,HH:mm'}}
                                                    </div>
                                                </div>

                                                <div class="row m-t">

                                                    <div class="col-sm-8 col-md-8">
                                                        <h3>QUESTIONS</h3>
                                                    </div>

                                                    <div class="col-sm-4 col-md-4">
                                                        <h3>ANSWERS</h3>
                                                    </div>
                                                </div>

                                                <div class="row padding-bottom-5"
                                                     ng-repeat="ques in SPOrderCtrl.veiwOrder.questions">

                                                    <div class="col-sm-8 col-md-8">
                                                        {{$index+1}}. {{ques.question}}
                                                    </div>

                                                    <div class="col-sm-8 col-md-4" ng-repeat="ans in ques.answer">
                                                        {{ans.answer}}
                                                    </div>
                                                </div>

                                                <div class="row" ng-repeat="image in SPOrderCtrl.veiwOrder.imageUrl">
                                                    <div class="col">
                                                        <img class="imageBlock" ng-src="uploads/{{image}}">
                                                    </div>
                                                </div>


                                            </div>


                                        </div>

                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" ng-if="SPOrderCtrl.employeeList">
                    <div class="row padding-bottom-10">
                        <div class="col-sm-12">
                            Employees for <span class="bold"> {{SPOrderCtrl.chosenType}}</span>
                        </div>
                    </div>
                    <div class="row" ng-repeat="employee in SPOrderCtrl.allEmployeesForTask">
                        <div class="col-md-12">
                            <div class="contact-box">
                                <a>
                                    <div class="col-sm-2 col-md-2">
                                        <div class="text-center">
                                            <img ng-src="/uploads/{{employee.imageURL}}"
                                                 class=" m-t-xs img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-sm-10 col-md-10">

                                        <div class="row">

                                            <div class="col-sm-12 col-md-12 text-large ellipsis">
                                                Name: {{employee.name}}
                                            </div>
                                        </div>
                                        <div class="row padding-top-5 padding-bottom-5">
                                            <div class="col-sm-12 col-md-6">
                                                <i class="fa fa-2x fa-star golden"></i>
                                                <i class="fa fa-2x golden"
                                                   ng-class="{'fa-star':employee.averageRating>=2,
                                                   'fa-star-half':employee.averageRating>1 && employee.averageRating<2,'fa-star-o':employee.averageRating<=1}"></i>
                                                <i class="fa fa-2x golden"
                                                   ng-class="{'fa-star':employee.averageRating>=3,
                                                   'fa-star-half':employee.averageRating>2 && employee.averageRating<3,'fa-star-o':employee.averageRating<=2}"></i>
                                                <i class="fa fa-2x golden"
                                                   ng-class="{'fa-star':employee.averageRating>=4,
                                                   'fa-star-half':employee.averageRating>3 && employee.averageRating<4,'fa-star-o':employee.averageRating<=3}"></i>
                                                <i class="fa fa-2x golden"
                                                   ng-class="{'fa-star':employee.averageRating==5,
                                                   'fa-star-half':employee.averageRating>4 && employee.averageRating<5,'fa-star-o':employee.averageRating<=4}"></i>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                Total Services Offered: {{employee.serviceOffered.length}}
                                            </div>
                                        </div>


                                        <div class="row">

                                            <div class="col-sm-12 col-md-12">
                                                Select Time:
                                                <input type="text" name="timepicker" class="time_element">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>

                                <div class="row m-t">
                                    <div class="col-sm-12 col-md-12 text-center">
                                        <button class="btn btn-primary "
                                                ng-click="SPOrderCtrl.assignOrderToEmployee(employee,$index)">Hire For Task
                                        </button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!--<div class="footer">-->
            <!--<div class="pull-right">-->

            <!--</div>-->
            <!--<div>-->
                <!--<strong>Copyright</strong> Youstart &copy; 2016-->
            <!--</div>-->
        <!--</div>-->

    </div>
</div>

