<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" ng-app="myApp" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <base href="/">
    <title>FXT</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/css/standard.css">

    <link rel="stylesheet" href="/css/custom.css">


    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-resource/angular-resource.min.js"></script>
    <script src="lib/angular-filter/dist/angular-filter.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>

    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/timepicki.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="lib/bootstrap3-dialog/src/js/bootstrap-dialog.js"></script>
    <link rel="stylesheet" href="lib/bootstrap3-dialog/src/css/bootstrap-dialog.css">
    <script src="lib/underscore/underscore-min.js"></script>
    <script src="lib/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap.js"></script>

    <script src="js/app.js"></script>
    <script src="js/service.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/serviceType.js"></script>
    <!--Template Plugins-->

    <script src="js/inspinia.js"></script>
    <script src="js/jquery-ui.custom.min.js"></script>
    <script src="js/jquery-ui-1.10.4.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>
    <script src="js/plugins/iCheck/icheck.min.js"></script>

    <link href="css/timepicki.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">




</head>
<body ng-app="myApp" class="body-bg-white">
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-61716806-5', 'auto');
    ga('send', 'pageview');

</script>
<div ng-view></div>
<script type="text/javascript">
</script>
</body>
</html>
